<html lang="en" xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout">

<head>
	<script src="/js/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/style/style_layout.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light" id="navTemp">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a id="navLink1" class="nav-link" href="#">Beranda</a>
				</li>
				<span class="navbar-text">/</span>
				<li class="nav-item">
					<a class="nav-link" href="#">Profil</a>
				</li>
			</ul>
		</div>
	</nav>
	<!--Modal-->
	<div class="modal" tabindex="-1" id="myModal">
		<div class="modal-dialog" id="{{id}}">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="bodyBody">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer" style="visibility: visible;">
					<button type="button" id="modalButtonFoot" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="submit" id="myButton" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--Body-->
	<section style="width:100%">
		<div class="row">
			<div class="col-sm-3" id="col1">
				<span id="editImage"><i id="pencil" class='fas fa-pencil-alt'></i></span>
				<input type="file" id="imageUpload" accept="image/*" />
				<div class="card text-center" id="col-a">
					<img layout:fragment="cardimg" class="rounded-circle" src="#" alt="Profile Image">
					<div layout:fragment="cardmember" class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the card's content.</p>
					</div>
					<div layout:fragment="cardlist">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
						<div class="card-body">
							<a href="#" class="card-link">Card link</a>
							<a href="#" class="card-link">Another link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-7" id="col2">
				<div class="text-center" id="col-b">
					<div class="container">
						<ul class="nav nav-tabs border-0" id="myTab">
							<li class="nav-item">
								<a class="nav-link active border border-info border-bottom-0" id="home-tab"
									data-toggle="tab" href="#home">Profil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link border border-info border-bottom-0" id="profile-tab"
									data-toggle="tab" href="#profile">Alamat</a>
							</li>
							<li class="nav-item">
								<a class="nav-link border border-info border-bottom-0" id="messages-tab"
									data-toggle="tab" href="#messages">Pembayaran</a>
							</li>
						</ul>

						<div class="tab-content">
							<div layout:fragment="tabContent1" class="tab-pane h-100 p-2 active border border-info"
								id="home">
								<p>Filled Content 1</p>
							</div>
							<div layout:fragment="tabContent2" class="tab-pane h-100 p-2 border border-info"
								id="profile">
								<p>Filled Content 2</p>
							</div>
							<div layout:fragment="tabContent3" class="tab-pane h-100 p-2 border border-info"
								id="messages">
								<p>Filled Content 3</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>